body{
    background-color: #90afc5;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#wsap-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#modal{
    display: none;
    position: fixed;
    width: 30%;
    height: 30%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 3em;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    rotate: -3deg;
}

#grid{
    background-color: brown;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    grid-template-rows: 10% 10% 10%;
    gap: 5px;
    width: 70%;
    height: 70%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#grid>div{
    background-color: yellow;
}

/*#grid>div:last-child{
    background-color: #763626;
}

#grid>div:first-child{
    background-color: #763626;
}

#grid>div:nth-child(2){
    background-color: #763626;   
}


#grid>div:nth-last-child(4){
    background-color: #763626;   
}*/


#grid>div:nth-child(odd){
    background-color: violet;
}

/*#grid>div:nth-child(even){
    background-color: #763626;   
}*/